  <div class="row">
    <div class="col s12 m6">
      <div class="card hoverable">
        <div class="card-image">
          Link to a Page
          <span class="card-title">Releases</span>
          <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add</i></a>
          Link to create a new something
        </div>
        <div class="card-content">
          <p>Click the image to view the first page.</p>
        </div>
      </div>
    </div>
  </div>